.form {
  &-group-single {
    padding: 0rem 3rem;
    box-sizing: border-box;

    &-option {
      border: 0.1rem solid $color-primary;
      padding: 1rem 2rem;
      margin: 1rem 0;
      font-size: 1.6rem;

      &:hover {
        cursor: pointer;
      }

      &-active {
        background-color: $color-gray-light;
      }
    }

    label {
      display: block;
      font-size: 2.2rem;
    }

    textarea {
      width: 100%;
      font-family: inherit;
      font-size: 1.6rem;
      padding: 1rem 2rem;
    }
  }

  &-message {
    width: 100%;
    height: 4rem;
    text-align: center;
    font-size: 1.6rem;
    color: red;
  }
}

.reset-password {
  margin: 10rem 0;

  &-heading {
    font-size: 2rem !important;
    font-weight: 200 !important;
  }

  &-message {
    font-size: 1.5rem;
    text-align: center;
    color: $color-light-orange;
    margin: 1rem 0;
  }
}
