.bg-modal {
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  overflow-y: auto;
  z-index: 10;

  @media only screen and (max-width: $small) {
    padding: 10rem 2rem;
  }

  &-icon {
    align-self: start;
    margin-left: 1rem;
    // margin-top: 2rem;
    padding: 1rem;
    background-color: $light-shade-scheme-1;
    height: 6rem;
    width: 6rem;
    border-radius: 3rem;
    fill: $color-light-orange;

    &:hover {
      cursor: pointer;
    }

    @media only screen and (max-width: $small) {
      display: none;
    }
  }

  .modal-content {
    width: max-content;
    height: min-content;
    text-align: center;
    background-color: white;
    border-radius: 3rem;
    font-size: 3rem;

    &-heading {
      background-color: $color-primary;
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem;

      &-breadcrumb {
        padding: 2rem 10rem;
        display: flex;
        align-items: center;
        color: $color-primary;

        svg {
          height: 2rem;
          width: 2rem;
          fill: $color-primary;
        }

        span {
          display: block;
          font-size: 2rem;
          margin-left: 1rem;
          text-transform: capitalize;
        }
      }

      h2 {
        font-weight: 300;
        padding: 0rem 10rem;
        color: $color-primary;
        font-size: 2rem;
      }

      h1 {
        font-weight: 600;
        padding: 0rem 10rem;
        color: $color-primary;
        font-size: 2.5rem;
      }

      &-date {
        padding: 1rem 10rem 2rem 10rem;
        color: $color-primary;
        font-size: 1.6rem;

        span {
          font-weight: 800;
        }
      }
    }

    &-change {
      font-size: 2rem;
      padding: 1rem 3rem;
    }

    &-buttons {
      &-cancel {
        font-size: 1.8rem;
        padding: 1rem 2rem;
        background-color: white;
        color: $dark-shade-scheme-1;
        border-radius: 3rem;
        margin: 3rem 2rem;
        border: 0.1rem solid black;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
      &-confirm {
        font-size: 1.8rem;
        padding: 1rem 2rem;
        background-color: $color-light-orange;
        color: white;
        border-radius: 3rem;
        margin: 3rem 2rem;
        border: 0.1rem solid black;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}
