.analyzer {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(8, [col-start] 1fr [col-end])
    [center-end] 1fr [full-end];
  font-weight: 300;
  margin: 2rem 0;
  color: black;

  &-breadcrumb {
    padding: 0.2rem 0;
    margin: 2rem 0 1rem 0;
    width: max-content;
    grid-column: col-start 2 / center-end;
    font-size: 1.4rem;
    border-bottom: 0.2rem solid var(--color-primary-dark);

    &:hover {
      border-bottom: 0.2rem solid var(--color-primary);
    }

    &-container {
      display: grid;
      grid-template-columns:
        [full-start] 1fr [center-start] repeat(8, [col-start] 1fr [col-end])
        [center-end] 1fr [full-end];
    }
  }

  &-container {
    grid-column: center-start / center-end;
    display: grid;
    justify-content: center;
    margin: 1rem 0;
  }

  &-heading {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
  }

  &-marketplace {
    grid-column: center-start / center-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &-market {
      width: 12rem;
      height: 12rem;
      box-sizing: content-box;
      background-size: cover;
      object-fit: fill;
      border-radius: 50%;
      border: 0.1rem solid transparent;
      transition: all 0.3s;
      animation-name: slide;
      animation-duration: 1.5s;

      @media only screen and (max-width: $small) {
        width: 8rem;
        height: 8rem;
      }

      &:hover {
        cursor: pointer;
        border-radius: 50%;
        border: 0.1rem solid var(--color-light-orange);
      }
    }
  }

  &-categories {
    margin: 3rem 0;

    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      grid-gap: 2rem;

      &-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 2rem;
        align-items: center;
        background-image: linear-gradient(90deg, white, white);
        border: 0.2rem solid var(--color-primary);

        &:hover {
          color: white;
          background-image: linear-gradient(
            90deg,
            var(--color-primary-light),
            var(--color-primary)
          );
          cursor: pointer;
          border: 0.2rem solid var(--color-dark-gray);
        }

        span {
          padding: 1rem 0;
          font-size: 1.2rem;
          text-align: center;
          text-transform: capitalize;
        }
      }
    }

    &-category {
      height: 12rem;
      display: flex;
      align-items: center;

      &-image {
        height: 5rem;
        box-sizing: content-box;
        background-size: cover;
        object-fit: contain;
        transition: all 0.3s;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-input-group {
    display: flex;
    align-items: center;

    img {
      width: 6rem;
      height: 6rem;
    }

    input {
      width: 100%;
      border: none;
      border-bottom: 0.3rem solid #f8f9f8;
      font-size: 1.6rem;
      padding: 1rem;
      color: var(--color-light-orange);
      text-shadow: 0px 0px 1px #fff;

      &::placeholder {
        color: #dfdfdf;
        font-size: 1.5rem;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &-estimate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: slide;
    animation-duration: 1s;
    width: 100%;

    &-container {
      animation-name: slide;
      animation-duration: 1s;
    }

    &-calculation {
      font-size: 4rem;
      color: #386170;
      font-weight: 800;

      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        background-color: #fbea9b;
        margin: 1rem 0;
      }
    }

    &-button {
      color: white;
      font-weight: 800;
      font-size: 1.5rem;
      padding: 1rem 3rem;
      margin: 2rem 0;
      background-image: linear-gradient(
        90deg,
        var(--color-light-orange-2),
        var(--color-light-orange-3)
      );
      border-radius: 1rem;
      cursor: pointer;
    }
  }

  &-subheading {
    font-size: 1.6rem;
    padding: 1rem;
  }
}
