:root {
  --color-primary: #72bab4;
  --color-primary-dark: #4b9a97;
}

$font-primary: 'futura-pt', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-weight: 300;
  line-height: 1.6;
}
