:root {
  --color-primary: #72bab4;
  --color-primary-medium-dark: #4b9a97;
  --color-primary-dark: #4f8080;
  --color-gray-light: #e2e2e2;
  --color-gray-dark: #c0bdbd;
  --color-light-orange: #dd8364;
}

$font-primary: 'futura-pt', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 1.6;
}
