.gallery {
  grid-column: 2/8;
  display: grid;
  justify-content: center;
  padding: 3rem 0;
  text-align: center;

  &-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #f7f5f7;
  }

  &-title {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &-subheading {
    font-size: 3.5rem;
    color: var(--color-light-orange);
    font-weight: 800;
    font-family: 'futura-pt-book';
  }

  &-slider {
    padding: 5rem 0 1rem 0;
  }
}

.swiper {
  &-container {
    width: 80rem;
    height: 70rem;
    cursor: pointer;
  }

  &-wrapper {
    cursor: pointer;
    padding: 5rem 0;
  }

  &-slide {
    &-active {
      transition: all 1s;
    }

    img {
      width: 95%;
      height: 70%;
    }
  }

  &-pagination {
    margin: 0 0 3rem 0;

    &-bullet {
      width: 4rem !important;
      border-radius: 1rem !important;
      opacity: 0.5 !important;

      &-active {
        background-color: var(--color-light-orange) !important;
        opacity: 1 !important;
      }
    }
  }
}
