.main-container {
  background-image: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-dark)
  );
  height: 100%;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  color: white;
}

.header {
  grid-column: 3/7;

  &-title {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;

    @media only screen and (max-width: $small) {
      font-size: 3rem;
    }
  }

  &-subheading {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;

    @media only screen and (max-width: $small) {
      font-size: 1.6rem;
      margin: 1rem 0;
    }
  }

  &-download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-transform: uppercase;

    @media only screen and (max-width: $small) {
      margin-left: -20%;
      width: 150%;
      padding: 2rem 0;
    }

    &-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      background-color: white;
      padding: 0.5rem 2rem;
      color: var(--color-light-orange);
      font-weight: 800;
      font-size: 1.4rem;
      transition: all 0.5s;

      @media only screen and (max-width: $small) {
        padding: 0.5rem 0.5rem;
        margin-right: 1rem;
        width: 100%;
        font-weight: 400;
        font-size: 1.2rem;
      }

      &:hover {
        color: black;
        background-color: var(--color-gray-light);
      }

      & > img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
      }
    }
  }

  &-image {
    display: flex;
    justify-content: center;
    width: 100%;

    & > img {
      width: 30rem;
      height: 100%;
    }
  }
}
