.main-container {
  background-image: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-medium-dark)
  );
  height: 100%;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  color: white;
}

.header {
  grid-column: 3/7;

  &-title {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
  }

  &-subheading {
    color: black;
    font-size: 2rem;
    text-align: center;
  }

  &-download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-transform: uppercase;

    &-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      background-color: white;
      padding: 0.5rem 2rem;
      color: var(--color-light-orange);
      font-weight: 1000;
      font-size: 1.4rem;
      transition: all 0.5s;

      &:hover {
        color: black;
        background-color: var(--color-gray-light);
      }

      & > img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
      }
    }
  }

  &-image {
    display: flex;
    justify-content: center;
    width: 100%;

    & > img {
      width: 30rem;
    }
  }
}
