.nav {
  grid-column: 1/-1;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 2rem 0;
  width: 100%;
  color: var(--color-gray-light);
  height: 12rem;
  background-image: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-dark)
  );
  transition: all 0.7s cubic-bezier(0.42, 0, 0.15, 1.4);
  z-index: 100;

  &-sticky {
    position: fixed;
    top: 0;
    right: 0;
    height: 8rem;
    background-image: linear-gradient(
      90deg,
      var(--color-primary),
      var(--color-primary-medium-dark)
    );
  }

  &-container {
    grid-column: 2/8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0rem 8rem;
  }

  &-logo {
    display: flex;
    align-items: center;
    font-size: 1.6rem;

    &:hover {
      cursor: pointer;
    }

    &-strong {
      font-weight: 800;
      margin-right: 0.5rem;
    }

    &-image {
      height: 5rem;
      width: 5rem;
    }
  }

  &-menu {
    &-list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &-item {
        margin-right: 1.9rem;
        text-transform: uppercase;

        &:hover {
          color: white;
          cursor: pointer;
        }

        &-download {
          border: 0.1rem solid white;
          padding: 0.3rem 1.5rem;
          border-radius: 0.5rem;
          font-weight: 800;
          text-transform: uppercase;
          transition: background-color 0.5s ease-in, color 0.2s ease-in;

          &:hover {
            background-color: white;
            border-color: white;
            color: #c9b2c3;
            cursor: pointer;
          }
        }
      }
    }
  }
}
