.questions {
  grid-column: 3/7;
  padding: 3rem 0;
  display: flex;
  flex-flow: column;
  align-items: center;

  @media only screen and (max-width: $small) {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem 1rem;
  }

  &-title {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &-subheading {
    color: var(--color-light-orange);
    font-size: 3rem;
    font-weight: 800;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 3rem 0;

    @media only screen and (max-width: $small) {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      padding: 2rem 1rem;
    }

    &-title {
      font-size: 1.8rem;
      color: var(--color-light-orange);
      font-weight: 600;
    }

    &-content {
      font-size: 1.4rem;
      text-align: left;
      padding: 1rem 0;
    }
  }
}
