.video {
  grid-column: 3/7;
  text-align: center;
  padding: 3rem 0;

  @media only screen and (max-width: $small) {
    grid-column: 1/-1;
  }

  &-title {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &-subheading {
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-light-orange);
  }

  &-wrap {
    height: 50rem;
  }

  &-player {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    z-index: 100;

    video {
      width: 100%;
      height: 100%;
      border: 0;
      border: none;
      outline: none;
      object-fit: cover;
    }
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.video-player.sticky {
  width: 30%;
  height: 30%;
}

@media only screen and (max-width: $small) {
  .video-player.sticky {
    width: 50%;
    height: 20%;
  }
}
