.video {
  grid-column: 3/7;
  text-align: center;
  padding: 3rem 0;

  &-title {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &-subheading {
    font-size: 3rem;
    font-family: futura-pt-book, sans-serif;
    font-weight: 400;
    color: var(--color-light-orange);
  }
}
