:root {
  --color-primary: #72bab4;
  --color-primary-medium-dark: #4b9a97;
  --color-primary-dark: #4f8080;
  --color-primary-light: #c0dbda;
  --color-gray-light: #e2e2e2;
  --color-gray-dark: #c0bdbd;
  --color-light-orange: #dd8364;
  --color-light-orange-2: #f0966d;
  --color-light-orange-3: #f3ba7c; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

html,
body {
  overflow-x: hidden; }

body {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 1.6; }

.active {
  border-bottom: 0.2rem solid white;
  color: white;
  font-weight: 800; }

.active-2 {
  border-top: 0.3rem solid var(--color-light-orange);
  background-color: white;
  color: var(--color-light-orange); }

.sticky {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 30rem;
  height: 23rem;
  transform: translateY(100%);
  animation: fade-in-up 0.25s ease forwards; }
  .sticky .video-player.sticky {
    bottom: 0;
    right: 0; }
  .sticky-video {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  @media only screen and (max-width: 685px) {
    .sticky svg {
      fill: #72aaa6;
      cursor: pointer;
      z-index: 100; } }
  .sticky:hover > svg {
    fill: #72aaa6;
    cursor: pointer;
    z-index: 100; }
  .sticky-icon-show {
    position: absolute;
    bottom: 19rem;
    right: 0.4rem;
    fill: transparent;
    border-radius: 1rem;
    width: 3rem;
    height: 3rem;
    transform: translateY(100%);
    animation: fade-in-up 0.25s ease forwards;
    transition: all 0.5s; }
    @media only screen and (max-width: 685px) {
      .sticky-icon-show {
        bottom: 75%;
        right: 0.4rem; } }
  .sticky-icon-hide {
    display: none; }
  .sticky-overlay-show {
    position: absolute;
    width: 30rem;
    height: 23rem;
    transform: translateY(100%);
    animation: fade-in-up 0.25s ease forwards; }
    .sticky-overlay-show:hover {
      background-color: rgba(226, 226, 226, 0.4); }

.show {
  display: block !important;
  animation: fadeIn ease 2s; }

.slide-hide {
  display: none; }

.active-slider {
  transform: scale(1);
  transition: all 1s; }

.next {
  transition: all 1s;
  transform: translateY(-10%); }
  @media only screen and (max-width: 685px) {
    .next {
      transform: scale(1);
      transform: translateY(0); } }
  .next-prev {
    transition: all 1.4s;
    transform: scale(1); }
    @media only screen and (max-width: 685px) {
      .next-prev {
        transform: scale(1.2); } }

.active-market {
  cursor: pointer;
  border-radius: 50%;
  border: 0.1rem solid var(--color-light-orange); }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.nav {
  grid-column: 1/-1;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 2rem 0;
  width: 100%;
  color: var(--color-gray-light);
  height: 12rem;
  background-image: linear-gradient(90deg, var(--color-primary), var(--color-primary-dark));
  transition: all 0.7s cubic-bezier(0.42, 0, 0.15, 1.4);
  z-index: 100; }
  @media only screen and (max-width: 992px) {
    .nav {
      display: none; } }
  .nav-sticky {
    position: fixed;
    top: 0;
    right: 0;
    height: 8rem;
    background-image: linear-gradient(90deg, var(--color-primary), var(--color-primary-medium-dark)); }
  .nav-container {
    grid-column: 2/9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0rem 8rem; }
  .nav-logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem; }
    @media only screen and (max-width: 992px) {
      .nav-logo {
        margin-left: -10rem; } }
    .nav-logo:hover {
      cursor: pointer; }
    .nav-logo-strong {
      font-weight: 800;
      margin-right: 0.5rem; }
    .nav-logo-image {
      height: 5rem;
      width: 5rem; }
  .nav-menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .nav-menu-list-item {
      margin-right: 1.9rem;
      text-transform: uppercase;
      font-size: 1.4rem;
      transition: all 0.5s;
      animation: slideInRight 0.5s ease-in; }
      .nav-menu-list-item:hover {
        color: white;
        cursor: pointer; }
      .nav-menu-list-item-download {
        border: 0.1rem solid white;
        padding: 0.3rem 1.5rem;
        border-radius: 0.5rem;
        font-weight: 800;
        text-transform: uppercase;
        transition: background-color 0.5s ease-in, color 0.2s ease-in; }
        .nav-menu-list-item-download:hover {
          background-color: white;
          border-color: white;
          color: #c9b2c3;
          cursor: pointer; }

.nav-mobile {
  grid-column: 1/-1;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 2rem 0;
  width: 100%;
  color: var(--color-gray-light);
  height: 12rem;
  background-image: linear-gradient(90deg, var(--color-primary), var(--color-primary-dark));
  transition: all 0.7s cubic-bezier(0.42, 0, 0.15, 1.4);
  z-index: 100; }
  @media only screen and (min-width: 992px) {
    .nav-mobile {
      display: none; } }
  .nav-mobile-sticky {
    position: fixed;
    top: 0;
    right: 0;
    height: 8rem;
    background-image: linear-gradient(90deg, var(--color-primary), var(--color-primary-medium-dark)); }
  .nav-mobile-container {
    grid-column: 2/9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0rem 8rem; }
  .nav-mobile-checkbox {
    display: none; }
  .nav-mobile-checkbox:checked ~ .nav-mobile-background {
    opacity: 1;
    transform: scale(80); }
  .nav-mobile-checkbox:checked ~ .nav-mobile-nav {
    opacity: 1;
    width: 100%; }
  .nav-mobile-icon {
    position: relative; }
    .nav-mobile-icon, .nav-mobile-icon:before, .nav-mobile-icon:after {
      width: 3rem;
      height: 0.2rem;
      background-color: white;
      display: inline-block; }
    .nav-mobile-icon:before, .nav-mobile-icon:after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .nav-mobile-icon:before {
      top: -0.6rem; }
    .nav-mobile-icon:after {
      top: 0.6rem; }
  .nav-mobile-menu {
    display: flex;
    align-items: center;
    position: relative; }
  .nav-mobile-button {
    display: flex;
    align-items: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    z-index: 1000;
    cursor: pointer;
    margin-right: -3rem; }
  .nav-mobile-button:hover .nav-mobile-icon:before {
    top: -1rem; }
  .nav-mobile-button:hover .nav-mobile-icon:after {
    top: 1rem; }
  .nav-mobile-checkbox:checked + .nav-mobile-button .nav-mobile-icon {
    background-color: transparent; }
  .nav-mobile-checkbox:checked + .nav-mobile-button .nav-mobile-icon:before {
    top: 0%;
    transform: rotate(135deg); }
  .nav-mobile-checkbox:checked + .nav-mobile-button .nav-mobile-icon:after {
    top: 0%;
    transform: rotate(-135deg); }
  .nav-mobile-checkbox:checked ~ .nav-mobile-nav .nav-mobile-list {
    display: block; }
  .nav-mobile-background {
    position: fixed;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    opacity: 0;
    background-image: radial-gradient(var(--color-primary), var(--color-primary-dark));
    z-index: 100;
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1); }
  .nav-mobile-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    width: 0;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .nav-mobile-list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    display: none; }
    .nav-mobile-list-item {
      margin: 2rem; }
    .nav-mobile-list-link:link, .nav-mobile-list-link:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      color: white;
      padding: 0.2rem 2rem;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
      background-size: 250%;
      transition: all 0.4s; }
    .nav-mobile-list-link:hover, .nav-mobile-list-link:active {
      background-position: 100%;
      color: var(--color-primary);
      transform: translateX(1rem); }

.home {
  display: grid;
  grid-template-columns: repeat(8, 1fr); }

.copyright {
  grid-column: 3/7;
  padding: 4rem 0 8rem 0;
  text-align: center;
  font-size: 1.4rem; }
  .copyright-reserved {
    margin-bottom: 2rem; }
  .copyright-appd {
    margin-bottom: 2rem; }
  .copyright-links {
    display: flex;
    justify-content: center; }
    .copyright-links-link {
      color: var(--color-primary);
      text-transform: uppercase;
      padding: 0 2rem 0 0;
      font-weight: 400; }
      .copyright-links-link:hover {
        color: var(--color-primary-dark); }

.main-container {
  background-image: linear-gradient(90deg, var(--color-primary), var(--color-primary-dark));
  height: 100%;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  color: white; }

.header {
  grid-column: 3/7; }
  .header-title {
    font-size: 4rem;
    font-weight: 800;
    text-align: center; }
    @media only screen and (max-width: 685px) {
      .header-title {
        font-size: 3rem; } }
  .header-subheading {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    text-align: center; }
    @media only screen and (max-width: 685px) {
      .header-subheading {
        font-size: 1.6rem;
        margin: 1rem 0; } }
  .header-download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 685px) {
      .header-download {
        margin-left: -20%;
        width: 150%;
        padding: 2rem 0; } }
    .header-download-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      background-color: white;
      padding: 0.5rem 2rem;
      color: var(--color-light-orange);
      font-weight: 800;
      font-size: 1.4rem;
      transition: all 0.5s; }
      @media only screen and (max-width: 685px) {
        .header-download-badge {
          padding: 0.5rem 0.5rem;
          margin-right: 1rem;
          width: 100%;
          font-weight: 400;
          font-size: 1.2rem; } }
      .header-download-badge:hover {
        color: black;
        background-color: var(--color-gray-light); }
      .header-download-badge > img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem; }
  .header-image {
    display: flex;
    justify-content: center;
    width: 100%; }
    .header-image > img {
      width: 30rem;
      height: 100%; }

.video {
  grid-column: 3/7;
  text-align: center;
  padding: 3rem 0; }
  @media only screen and (max-width: 685px) {
    .video {
      grid-column: 1/-1; } }
  .video-title {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .video-subheading {
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-light-orange); }
  .video-wrap {
    height: 50rem; }
  .video-player {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    z-index: 100; }
    .video-player video {
      width: 100%;
      height: 100%;
      border: 0;
      border: none;
      outline: none;
      object-fit: cover; }

@keyframes fade-in-up {
  0% {
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.video-player.sticky {
  width: 30%;
  height: 30%; }

@media only screen and (max-width: 685px) {
  .video-player.sticky {
    width: 50%;
    height: 20%; } }

.features {
  grid-column: 3/11; }
  @media only screen and (max-width: 685px) {
    .features {
      grid-column: 1/-1; } }
  .features-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #f7f5f7;
    padding: 6rem 0; }
  .features-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem; }
  .features-subheading {
    text-align: center;
    color: var(--color-light-orange);
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem; }
  .features-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem; }
    @media only screen and (max-width: 685px) {
      .features-list {
        grid-template-columns: 1fr;
        padding: 0;
        margin: 1rem 0; } }
    .features-list-item {
      display: grid;
      grid-template-columns: min-content 1fr;
      align-items: flex-start;
      background-color: white;
      padding: 1.5rem 1.3rem 1.5rem 1rem;
      border-left: 0.2rem solid var(--color-light-orange);
      transition: all 0.5s; }
      @media only screen and (max-width: 685px) {
        .features-list-item {
          grid-template-columns: 1fr;
          text-align: center; } }
      .features-list-item:hover {
        transform: translateY(-3%); }
        @media only screen and (max-width: 685px) {
          .features-list-item:hover {
            transform: none; } }
      .features-list-item:not(:first-child) {
        margin-left: 2.5rem; }
        @media only screen and (max-width: 685px) {
          .features-list-item:not(:first-child) {
            margin: 0; } }
      .features-list-item-1 {
        height: 4.8rem;
        width: 4.8rem;
        fill: var(--color-light-orange);
        margin-right: 2rem; }
      .features-list-item-2 {
        height: 4.1rem;
        width: 4.1rem;
        fill: var(--color-light-orange);
        margin-right: 2rem; }
      .features-list-item-3 {
        height: 5rem;
        width: 5rem;
        fill: var(--color-light-orange);
        margin-right: 2rem; }
      .features-list-item-icon svg {
        height: 5rem;
        width: 5rem;
        fill: var(--color-light-orange);
        margin-right: 2rem; }
        @media only screen and (max-width: 685px) {
          .features-list-item-icon svg {
            text-align: center;
            margin-right: 0; } }
      .features-list-item-icon-drawer svg {
        height: 5rem;
        width: 5rem;
        fill: var(--color-light-orange);
        margin-right: 2rem;
        padding: 0 0 0.3rem 0; }
        @media only screen and (max-width: 685px) {
          .features-list-item-icon-drawer svg {
            text-align: center;
            margin-right: 0; } }
      .features-list-item-instant {
        justify-content: center;
        text-align: center;
        height: 4rem;
        width: 4rem;
        fill: var(--color-light-orange);
        margin-right: 2rem; }
      .features-list-item-description {
        display: grid;
        grid-template-columns: 1fr; }
        .features-list-item-description-heading {
          color: var(--color-light-orange);
          font-size: 2rem;
          font-weight: 800; }
        .features-list-item-description-text > span {
          display: block;
          color: black;
          font-size: 1.4rem; }

.discover {
  grid-column: 3/8;
  display: grid;
  grid-template-columns: 1fr;
  padding: 4rem 0 0 0; }
  @media only screen and (max-width: 685px) {
    .discover {
      grid-column: 1/-1;
      padding: 4rem 2rem 0 2rem; } }
  .discover-app {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 685px) {
      .discover-app {
        display: grid;
        grid-template-columns: 1fr; } }
    .discover-app-container-right {
      flex: 0 40%;
      display: flex;
      flex-flow: column; }
    .discover-app-item {
      margin-bottom: 1.2rem; }
    .discover-app-title {
      font-size: 3rem;
      color: var(--color-light-orange);
      font-weight: 800; }
    .discover-app-description {
      font-size: 1.6rem; }
    .discover-app-icon {
      width: 5rem;
      height: 6rem;
      fill: var(--color-light-orange);
      box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.4);
      padding: 1rem 0.2rem; }
  .discover-image {
    margin-left: -30rem;
    margin-top: -23rem; }
    @media only screen and (max-width: 685px) {
      .discover-image {
        margin-left: 0;
        margin-top: 0; } }
    .discover-image img {
      width: 100%;
      height: 100%;
      margin-left: -4rem; }

.app {
  grid-column: 3/11;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 685px) {
    .app {
      grid-column: 1/-1;
      margin-bottom: 1rem; } }
  .app-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #f7f5f7;
    padding: 8rem 0; }
  .app-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center; }
  .app-subheading {
    color: var(--color-light-orange);
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    padding: 1rem 0 2rem 0; }
  .app-menu {
    display: flex;
    padding: 0 5rem; }
    .app-menu-item {
      color: #ead4cc;
      padding: 1rem 0;
      flex: 1;
      background-color: #f4eeeb;
      font-size: 2rem;
      text-align: center; }
      .app-menu-item:hover {
        cursor: pointer; }
  .app-content {
    display: none; }
    .app-content-container {
      display: flex;
      padding: 2rem 5rem; }
      @media only screen and (max-width: 685px) {
        .app-content-container {
          display: grid;
          grid-template-columns: 1fr;
          justify-content: center;
          text-align: center;
          padding: 0 1rem; } }
    .app-content img {
      flex: 1;
      width: 32rem;
      height: 50rem;
      padding: 0.5rem 3rem; }
    .app-content-title {
      color: var(--color-light-orange);
      font-size: 3rem;
      font-weight: 800; }
      @media only screen and (max-width: 685px) {
        .app-content-title {
          font-size: 3rem;
          padding: 0 1rem; } }
      .app-content-title-2 {
        color: var(--color-light-orange);
        font-size: 2.5rem;
        font-weight: 800; }
        @media only screen and (max-width: 685px) {
          .app-content-title-2 {
            font-size: 1.8rem;
            padding: 0.5rem 1rem; } }
    .app-content-subheading {
      color: var(--color-primary); }
    .app-content-description {
      padding: 2rem 0;
      font-size: 2rem; }
      @media only screen and (max-width: 685px) {
        .app-content-description {
          font-size: 1.5rem;
          padding: 1rem 1rem; } }

.launch {
  grid-column: 2/8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 6rem 0;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 685px) {
    .launch {
      grid-column: 1/-1;
      margin-bottom: 1rem; } }
  .launch-container {
    grid-column: 3/7;
    text-align: center; }
    @media only screen and (max-width: 685px) {
      .launch-container {
        grid-column: 1/-1;
        padding: 0 1rem; } }
  .launch img {
    width: 75%;
    height: 100vh;
    margin-top: 4rem;
    padding: 0 2rem;
    text-align: center; }
    @media only screen and (max-width: 1050px) {
      .launch img {
        width: 100%;
        height: 100%; } }
    @media only screen and (max-width: 685px) {
      .launch img {
        width: 100%;
        height: 100%; } }
  .launch-content {
    padding: 0 2rem; }
    .launch-content-icon {
      fill: white;
      stroke: var(--color-light-orange);
      width: 5rem;
      height: 5rem;
      padding: 0.6rem;
      margin-top: 1rem;
      box-shadow: 0.2rem 0.3rem 3rem rgba(0, 0, 0, 0.2); }
    .launch-content-title {
      font-size: 3rem;
      color: var(--color-light-orange);
      font-weight: 800; }
    .launch-content-description {
      font-size: 1.4rem; }

.steps {
  grid-column: 2/8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 2rem; }
  @media only screen and (max-width: 685px) {
    .steps {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 1fr;
      height: 100%; } }
  .steps-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #f6f4f6; }
  .steps-list {
    display: flex;
    flex-flow: column; }
    @media only screen and (max-width: 685px) {
      .steps-list {
        display: grid;
        grid-template-columns: 1fr; } }
    .steps-list-container {
      grid-column: 1/3;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 685px) {
        .steps-list-container {
          grid-column: 1/-1;
          display: grid;
          grid-template-columns: 1fr; } }
    .steps-list-item {
      display: flex;
      align-items: center;
      height: 12rem; }
      @media only screen and (max-width: 685px) {
        .steps-list-item {
          margin: 1rem 0; } }
      .steps-list-item:hover > .steps-list-item-step {
        background-image: linear-gradient(120deg, var(--color-light-orange), #ebb477 60%);
        color: white; }
      .steps-list-item-step {
        background-color: white;
        width: 32px;
        height: 32px;
        padding: 5rem;
        text-align: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.2);
        color: var(--color-light-orange); }
        @media only screen and (max-width: 685px) {
          .steps-list-item-step {
            box-shadow: none;
            background-color: transparent; } }
        @media only screen and (max-width: 685px) {
          .steps-list-item-step {
            width: 16px;
            height: 16px;
            padding: 2rem; } }
        .steps-list-item-step-number {
          font-size: 3.5rem;
          color: inherit;
          font-weight: 600; }
      .steps-list-item-content {
        padding: 0 2rem; }
        @media only screen and (max-width: 685px) {
          .steps-list-item-content {
            padding: 1rem 2rem; } }
        .steps-list-item-content-heading {
          font-size: 2.5rem;
          color: var(--color-light-orange); }
        .steps-list-item-content-text {
          font-size: 1.4rem; }
  .steps img {
    width: 95%;
    height: 90vh; }
    @media only screen and (max-width: 1050px) {
      .steps img {
        width: 100%;
        height: 60vh; } }
    @media only screen and (max-width: 685px) {
      .steps img {
        width: 100%;
        height: auto;
        margin: 2rem 0; } }

.reviews {
  grid-column: 2/8;
  padding: 0 5rem; }
  @media only screen and (max-width: 685px) {
    .reviews {
      grid-column: 1/-1;
      padding: 0; } }
  .reviews-slider {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: minmax(50rem, 1fr);
    justify-content: center;
    padding: 5rem 0; }
    .reviews-slider-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 3rem; }
      @media only screen and (max-width: 685px) {
        .reviews-slider-arrow {
          padding: 0 1rem; } }
      .reviews-slider-arrow svg {
        width: 3rem;
        height: 3rem;
        fill: #bbbbbb;
        cursor: pointer; }
    .reviews-slider-slide {
      grid-column: 2/3;
      text-align: center;
      animation: fade-in-up 2s ease forwards; }
      .reviews-slider-slide-title {
        font-size: 1.4rem;
        text-transform: uppercase; }
      .reviews-slider-slide-subheading {
        font-size: 3rem;
        font-weight: 800;
        color: var(--color-light-orange);
        padding: 2rem 0; }
      .reviews-slider-slide-image img {
        background: transparent scroll no-repeat 0 0;
        box-sizing: conten-box;
        background-size: cover;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 3px solid white;
        object-fit: cover; }
      .reviews-slider-slide-text {
        padding: 2rem 0;
        font-size: 1.8rem; }
      .reviews-slider-slide-name {
        color: var(--color-light-orange);
        font-weight: 300;
        font-size: 2.5rem; }
      .reviews-slider-slide-country {
        font-size: 1.5rem;
        font-weight: 400; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.gallery {
  grid-column: 2/8;
  display: grid;
  justify-content: center;
  padding: 3rem 0;
  text-align: center; }
  .gallery-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #f7f5f7; }
    @media only screen and (max-width: 685px) {
      .gallery-container {
        display: grid;
        grid-template-columns: 1fr; } }
  .gallery-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 2rem 0 0 0; }
  .gallery-subheading {
    font-size: 3.5rem;
    color: var(--color-light-orange);
    font-weight: 800; }
  .gallery-slider {
    padding: 5rem 0 1rem 0; }

.swiper-container {
  width: 80rem;
  height: 70rem;
  cursor: pointer; }
  @media only screen and (max-width: 685px) {
    .swiper-container {
      width: 100vw !important;
      height: 100% !important; } }

.swiper-wrapper {
  cursor: pointer;
  padding: 5rem 0; }

.swiper-slide {
  height: 70% !important; }
  @media only screen and (max-width: 685px) {
    .swiper-slide {
      width: 100vw !important;
      height: 100% !important;
      object-fit: cover; } }
  .swiper-slide-active {
    transition: all 1s; }
  .swiper-slide img {
    width: 95%;
    height: 90%; }
    @media only screen and (max-width: 685px) {
      .swiper-slide img {
        width: 80%;
        height: 80%; } }

.swiper-pagination {
  position: absolute;
  bottom: 5rem !important;
  margin: 0 0 0 0; }
  @media only screen and (max-width: 685px) {
    .swiper-pagination {
      display: none; } }
  .swiper-pagination-bullet {
    width: 4rem !important;
    border-radius: 1rem !important;
    opacity: 0.5 !important; }
    .swiper-pagination-bullet-active {
      background-color: var(--color-light-orange) !important;
      opacity: 1 !important; }

.questions {
  grid-column: 3/7;
  padding: 3rem 0;
  display: flex;
  flex-flow: column;
  align-items: center; }
  @media only screen and (max-width: 685px) {
    .questions {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      padding: 2rem 1rem; } }
  .questions-title {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .questions-subheading {
    color: var(--color-light-orange);
    font-size: 3rem;
    font-weight: 800; }
  .questions-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 3rem 0; }
    @media only screen and (max-width: 685px) {
      .questions-list {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 2rem 1rem; } }
    .questions-list-title {
      font-size: 1.8rem;
      color: var(--color-light-orange);
      font-weight: 600; }
    .questions-list-content {
      font-size: 1.4rem;
      text-align: left;
      padding: 1rem 0; }

.download {
  grid-column: 3/7;
  text-align: center;
  color: white; }
  .download-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-image: linear-gradient(var(--color-primary), var(--color-primary-dark) 80%); }
  .download-icon {
    width: 5rem;
    height: 6rem;
    fill: var(--color-light-orange);
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem 0.2rem;
    margin: 8rem 0 3rem 0; }
  .download-title {
    font-size: 3.5rem;
    color: white;
    font-weight: 500; }
  .download-text {
    padding: 3rem 0;
    font-size: 1.4rem; }
  .download-buttons {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 685px) {
      .download-buttons {
        margin-left: -20%;
        width: 150%; } }
    .download-buttons-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      background-color: white;
      padding: 0.5rem 2rem;
      color: var(--color-light-orange);
      font-weight: 1000;
      font-size: 1.4rem;
      transition: all 0.5s; }
      @media only screen and (max-width: 685px) {
        .download-buttons-badge {
          padding: 0.5rem 0.5rem;
          margin-right: 1rem;
          width: 100%;
          font-weight: 400;
          font-size: 1.2rem; } }
      .download-buttons-badge:hover {
        color: black;
        background-color: var(--color-gray-light); }
      .download-buttons-badge > img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem; }
  .download-small-text {
    padding: 3rem 0;
    font-size: 1.2rem; }

.contact {
  grid-column: 3/7;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 4rem 0; }
  @media only screen and (max-width: 685px) {
    .contact {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 1fr;
      padding: 4rem 2rem; } }
  .contact-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #f7f5f7; }
  .contact-info {
    display: flex; }
    .contact-info-item {
      align-self: end; }
      .contact-info-item-box {
        display: flex;
        align-items: center;
        padding: 0.3rem 0; }
        .contact-info-item-box-icon {
          margin-left: 1rem;
          margin-right: 1rem;
          width: 2rem;
          height: 2rem;
          fill: transparent;
          stroke: #b9b7ba; }
        .contact-info-item-box-text-color {
          font-size: 1.2rem;
          color: var(--color-primary);
          font-weight: 500; }
  .contact-social-media {
    align-self: end;
    display: flex; }
    @media only screen and (max-width: 685px) {
      .contact-social-media {
        justify-content: center;
        margin: 3rem 0; } }
    .contact-social-media-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
      width: 4rem;
      height: 4rem;
      box-shadow: 0.3rem 0.3rem 2rem rgba(0, 0, 0, 0.2); }
      .contact-social-media-icon svg {
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary); }
        .contact-social-media-icon svg:hover {
          fill: var(--color-primary-dark);
          cursor: pointer; }

.privacy {
  grid-column: 2/7;
  padding: 5rem 0; }
  .privacy-heading {
    font-size: 5rem;
    color: var(--color-light-orange); }
  .privacy-date {
    color: var(--color-primary);
    font-size: 1.4rem; }
  .privacy-subheading {
    padding: 2rem 0;
    font-size: 1.6rem; }
  .privacy-content {
    font-size: 1.4rem; }
    .privacy-content p {
      margin-top: 1rem; }

.terms {
  grid-column: 2/7;
  padding: 5rem 0; }
  .terms-heading {
    font-size: 5rem;
    color: var(--color-light-orange); }
  .terms-date {
    color: var(--color-primary);
    font-size: 1.4rem; }
  .terms-subheading {
    padding: 2rem 0;
    font-size: 1.6rem; }
  .terms-content {
    font-size: 1.4rem; }
    .terms-content p {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .terms-content ol li {
      margin-left: 2rem;
      padding: 1rem 0; }

.analyzer {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] 1fr [full-end];
  font-weight: 300;
  margin: 2rem 0;
  color: black; }
  .analyzer-breadcrumb {
    padding: 0.2rem 0;
    margin: 2rem 0 1rem 0;
    width: max-content;
    grid-column: col-start 2 / center-end;
    font-size: 1.4rem;
    border-bottom: 0.2rem solid var(--color-primary-dark); }
    .analyzer-breadcrumb:hover {
      border-bottom: 0.2rem solid var(--color-primary); }
    .analyzer-breadcrumb-container {
      display: grid;
      grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] 1fr [full-end]; }
  .analyzer-container {
    grid-column: center-start / center-end;
    display: grid;
    justify-content: center;
    margin: 1rem 0; }
  .analyzer-heading {
    text-align: center;
    font-size: 3rem;
    padding: 2rem; }
  .analyzer-marketplace {
    grid-column: center-start / center-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .analyzer-marketplace-market {
      width: 12rem;
      height: 12rem;
      box-sizing: content-box;
      background-size: cover;
      object-fit: fill;
      border-radius: 50%;
      border: 0.1rem solid transparent;
      transition: all 0.3s;
      animation-name: slide;
      animation-duration: 1.5s; }
      @media only screen and (max-width: 685px) {
        .analyzer-marketplace-market {
          width: 8rem;
          height: 8rem; } }
      .analyzer-marketplace-market:hover {
        cursor: pointer;
        border-radius: 50%;
        border: 0.1rem solid var(--color-light-orange); }
  .analyzer-categories {
    margin: 3rem 0; }
    .analyzer-categories-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      grid-gap: 2rem; }
      .analyzer-categories-container-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 2rem;
        align-items: center;
        background-image: linear-gradient(90deg, white, white);
        border: 0.2rem solid var(--color-primary); }
        .analyzer-categories-container-box:hover {
          color: white;
          background-image: linear-gradient(90deg, var(--color-primary-light), var(--color-primary));
          cursor: pointer;
          border: 0.2rem solid var(--color-dark-gray); }
        .analyzer-categories-container-box span {
          padding: 1rem 0;
          font-size: 1.2rem;
          text-align: center;
          text-transform: capitalize; }
    .analyzer-categories-category {
      height: 12rem;
      display: flex;
      align-items: center; }
      .analyzer-categories-category-image {
        height: 5rem;
        box-sizing: content-box;
        background-size: cover;
        object-fit: contain;
        transition: all 0.3s; }
      .analyzer-categories-category:hover {
        cursor: pointer; }
  .analyzer-input-group {
    display: flex;
    align-items: center; }
    .analyzer-input-group img {
      width: 6rem;
      height: 6rem; }
    .analyzer-input-group input {
      width: 100%;
      border: none;
      border-bottom: 0.3rem solid #f8f9f8;
      font-size: 1.6rem;
      padding: 1rem;
      color: var(--color-light-orange);
      text-shadow: 0px 0px 1px #fff; }
      .analyzer-input-group input::placeholder {
        color: #dfdfdf;
        font-size: 1.5rem; }
      .analyzer-input-group input:focus {
        outline: none; }
  .analyzer-estimate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: slide;
    animation-duration: 1s;
    width: 100%; }
    .analyzer-estimate-container {
      animation-name: slide;
      animation-duration: 1s; }
    .analyzer-estimate-calculation {
      font-size: 4rem;
      color: #386170;
      font-weight: 800; }
      .analyzer-estimate-calculation-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        background-color: #fbea9b;
        margin: 1rem 0; }
    .analyzer-estimate-button {
      color: white;
      font-weight: 800;
      font-size: 1.5rem;
      padding: 1rem 3rem;
      margin: 2rem 0;
      background-image: linear-gradient(90deg, var(--color-light-orange-2), var(--color-light-orange-3));
      border-radius: 1rem;
      cursor: pointer; }
  .analyzer-subheading {
    font-size: 1.6rem;
    padding: 1rem; }

.login {
  grid-column: 1/-1;
  display: grid;
  justify-content: center; }
  .login-logo {
    margin: 2rem 0;
    width: 20rem;
    justify-self: center; }
    @media only screen and (max-width: 768px) {
      .login-logo {
        width: 15rem; } }
  .login h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    margin: 1rem 0; }
    @media only screen and (max-width: 768px) {
      .login h1 {
        font-size: 2rem; } }
  .login form {
    display: grid;
    justify-self: center;
    padding: 1rem 2rem; }
  .login-form-group {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid var(--color-gray-dark);
    margin: 1rem 0;
    padding: 1rem; }
    .login-form-group svg {
      width: 4rem;
      height: 4rem;
      fill: var(--color-gray-dark); }
    .login-form-group input {
      border: none;
      outline: none;
      margin-left: 1rem;
      font-size: 1.6rem;
      width: 25rem;
      padding: 1rem 1rem; }
      @media only screen and (max-width: 450px) {
        .login-form-group input {
          width: 15rem; } }
  .login-form-button {
    padding: 2rem 1rem;
    margin: 4rem 0 0 0;
    font-size: 1.6rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    font-weight: 900;
    text-transform: uppercase;
    background-color: var(--color-light-orange-2);
    color: white;
    transition: all 0.5s; }
    .login-form-button:hover {
      transform: scale(1.2);
      cursor: pointer; }
  .login-form-terms {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    font-weight: 300; }
    .login-form-terms a {
      color: #1064fd; }
  .login-form-error {
    font-size: 1.6rem;
    margin: 1rem 0;
    text-align: center;
    color: #f3ba7c; }
  .login-signup {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 2rem 0; }
    .login-signup a {
      color: #1064fd; }
  .login-forgot-password {
    text-align: center;
    color: #dd8364;
    font-weight: 200;
    text-decoration: underline;
    font-size: 1.6rem; }
    .login-forgot-password:hover {
      color: #f3ba7c; }
  .login-copyright {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 2rem 0; }
    @media only screen and (max-width: 450px) {
      .login-copyright {
        padding: 0 2rem; } }
  .login-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }

.signup {
  grid-column: 1/-1;
  display: grid;
  justify-content: center; }
  .signup-logo {
    margin: 2rem 0;
    width: 20rem;
    justify-self: center; }
    @media only screen and (max-width: 768px) {
      .signup-logo {
        width: 15rem; } }
  .signup h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    margin: 1rem 0; }
    @media only screen and (max-width: 768px) {
      .signup h1 {
        font-size: 2rem; } }
  .signup form {
    display: grid;
    justify-self: center;
    padding: 1rem 2rem; }
  .signup-form-group {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid var(--color-gray-dark);
    margin: 1rem 0;
    padding: 1rem; }
    .signup-form-group svg {
      width: 4rem;
      height: 4rem;
      fill: var(--color-gray-dark); }
    .signup-form-group input {
      border: none;
      outline: none;
      margin-left: 1rem;
      font-size: 1.6rem;
      width: 25rem;
      padding: 1rem 1rem; }
      @media only screen and (max-width: 450px) {
        .signup-form-group input {
          width: 15rem; } }
  .signup-form-button {
    padding: 2rem 1rem;
    margin: 4rem 0 0 0;
    font-size: 1.6rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    font-weight: 900;
    text-transform: uppercase;
    background-color: var(--color-light-orange-2);
    color: white;
    transition: all 0.5s; }
    .signup-form-button:hover {
      transform: scale(1.2);
      cursor: pointer; }
  .signup-form-terms {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    font-weight: 300; }
    .signup-form-terms a {
      color: #1064fd; }
  .signup-form-error {
    font-size: 1.6rem;
    text-align: center;
    color: #f3ba7c;
    height: 2rem; }
    .signup-form-error-height {
      font-size: 1.6rem;
      visibility: hidden;
      height: 2rem; }
  .signup-form-list {
    list-style: none;
    text-align: center;
    font-size: 1.6rem;
    margin: 2rem 0;
    font-weight: 200; }
  .signup-signup {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 2rem 0; }
    .signup-signup a {
      color: #1064fd; }
  .signup-copyright {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 2rem 0; }
    @media only screen and (max-width: 450px) {
      .signup-copyright {
        padding: 0 2rem; } }
  .signup-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }

.pricing {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 5rem 2rem; }
  .pricing-heading {
    font-size: 4rem;
    justify-self: center;
    position: relative;
    transition: all 1s;
    width: min-content;
    border-bottom: 0.2rem solid var(--color-primary); }
  .pricing h6 {
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;
    padding: 2rem 0; }
  .pricing-plans {
    display: grid;
    grid-template-columns: [content-start] repeat(3, 1fr) [content-end];
    gap: 3rem;
    justify-content: center;
    margin: 5rem 0;
    padding: 2rem 10rem; }
    @media only screen and (max-width: 768px) {
      .pricing-plans {
        grid-template-columns: 1fr;
        padding: 2rem 1rem;
        gap: 5rem; } }
    @media only screen and (max-width: 992px) {
      .pricing-plans {
        grid-template-columns: 1fr;
        padding: 2rem 1rem;
        gap: 5rem; } }
    .pricing-plans-option {
      width: auto;
      box-shadow: 1rem 0.2rem 5rem 2rem rgba(0, 0, 0, 0.1);
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 3rem;
      cursor: pointer; }
      .pricing-plans-option h1 {
        text-align: center;
        font-size: 2.8rem;
        font-weight: 200;
        color: #565656;
        padding: 1rem 0; }
      .pricing-plans-option h2 {
        text-align: center;
        font-size: 2.2rem;
        font-weight: 200; }
      .pricing-plans-option span {
        display: block;
        font-size: 4.8rem;
        font-weight: 400;
        color: #565656;
        text-align: center;
        padding: 0;
        margin: 0; }
        .pricing-plans-option span h2 {
          font-size: 1.8rem !important;
          font-weight: 200; }
      .pricing-plans-option-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; }
        .pricing-plans-option-list ul {
          padding: 0 2rem;
          margin: 0 0 3rem 0;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .pricing-plans-option-list ul ol {
            font-size: 1.6rem;
            font-weight: 300;
            padding: 0.5rem 0; }
      .pricing-plans-option-check {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
        fill: #5ca935; }
      .pricing-plans-option-cross {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        margin-bottom: -1rem;
        fill: #bd000a; }

.banner-annually {
  background-color: #dd8364;
  padding: 1rem 0;
  margin: 0 0 0 0;
  width: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  text-align: center; }
  .banner-annually h1 {
    display: inline-block;
    font-size: 2.2rem;
    color: white !important;
    font-weight: 700; }
  .banner-annually h2 {
    margin-left: 1rem;
    display: inline-block;
    color: white !important;
    font-weight: 700; }

.banner-lite {
  position: relative;
  width: 100%;
  background-color: #e2e2e2;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem; }
  .banner-lite h1 {
    width: 100%;
    color: black !important; }

.banner-pro {
  background-color: #72bab4;
  margin: 0 0 3rem 0;
  color: white !important;
  width: 100%;
  font-size: 2.4rem !important;
  padding: 2rem 0;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out; }
  .banner-pro span {
    font-size: 2.6rem;
    display: inline-block;
    color: #fde27d;
    font-weight: 900; }
  .banner-pro-monthly {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72bab4;
    margin: 0 0 3rem 0;
    color: white !important;
    height: min-content;
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem; }
    .banner-pro-monthly span {
      margin-left: 1rem;
      font-size: 2.6rem;
      display: inline-block;
      color: #fde27d;
      font-weight: 900; }

.option-pro {
  transform: translateY(-2.5rem);
  transform: scaleY(1.07);
  transition: all 0.5s ease-in-out; }
  .option-pro:hover {
    transform: scaleY(1.12); }

@keyframes slideInRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

.buttons-select {
  display: block;
  padding: 2rem 3rem;
  margin: 0 0 2rem 0;
  width: max-content;
  justify-self: center;
  height: min-content;
  font-size: 1.8rem;
  background-image: linear-gradient(180deg, rgba(75, 154, 151, 0.8), rgba(75, 154, 151, 0.5));
  border: none;
  color: #f1f1f1;
  border-radius: 3rem;
  transition: all 0.5s; }
  .buttons-select:hover {
    cursor: pointer;
    border-radius: 0; }

.buttons-subscription {
  background-color: #dd8364 !important;
  background-image: none !important;
  color: #f1f1f1; }

.bg-modal {
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  overflow-y: auto;
  z-index: 10; }
  .bg-modal-icon {
    align-self: start;
    margin-left: 1rem;
    padding: 1rem;
    background-color: #f1f1f1;
    height: 6rem;
    width: 6rem;
    border-radius: 3rem;
    fill: #dd8364; }
    .bg-modal-icon:hover {
      cursor: pointer; }
  .bg-modal .modal-content {
    width: max-content;
    height: min-content;
    text-align: center;
    background-color: white;
    border-radius: 3rem;
    font-size: 3rem; }
    .bg-modal .modal-content-heading {
      background-color: #72bab4;
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem; }
      .bg-modal .modal-content-heading-breadcrumb {
        padding: 2rem 10rem;
        display: flex;
        align-items: center;
        color: #72bab4; }
        .bg-modal .modal-content-heading-breadcrumb svg {
          height: 2rem;
          width: 2rem;
          fill: #72bab4; }
        .bg-modal .modal-content-heading-breadcrumb span {
          display: block;
          font-size: 2rem;
          margin-left: 1rem;
          text-transform: capitalize; }
      .bg-modal .modal-content-heading h2 {
        font-weight: 300;
        padding: 0rem 10rem;
        color: #72bab4;
        font-size: 2rem; }
      .bg-modal .modal-content-heading h1 {
        font-weight: 600;
        padding: 0rem 10rem;
        color: #72bab4;
        font-size: 2.5rem; }
      .bg-modal .modal-content-heading-date {
        padding: 1rem 10rem 2rem 10rem;
        color: #72bab4;
        font-size: 1.6rem; }
        .bg-modal .modal-content-heading-date span {
          font-weight: 800; }
    .bg-modal .modal-content-change {
      font-size: 2rem;
      padding: 1rem 3rem; }
    .bg-modal .modal-content-buttons-cancel {
      font-size: 1.8rem;
      padding: 1rem 2rem;
      background-color: white;
      color: #565656;
      border-radius: 3rem;
      margin: 3rem 2rem;
      border: 0.1rem solid black;
      transition: all 0.5s; }
      .bg-modal .modal-content-buttons-cancel:hover {
        transform: scale(1.1);
        cursor: pointer; }
    .bg-modal .modal-content-buttons-confirm {
      font-size: 1.8rem;
      padding: 1rem 2rem;
      background-color: #dd8364;
      color: white;
      border-radius: 3rem;
      margin: 3rem 2rem;
      border: 0.1rem solid black;
      transition: all 0.5s; }
      .bg-modal .modal-content-buttons-confirm:hover {
        transform: scale(1.1);
        cursor: pointer; }

.reset-password {
  margin: 10rem 0; }
  .reset-password-heading {
    font-size: 2rem !important;
    font-weight: 200 !important; }
  .reset-password-message {
    font-size: 1.5rem;
    text-align: center;
    color: #dd8364;
    margin: 1rem 0; }
