.nav {
  grid-column: 1/-1;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 2rem 0;
  width: 100%;
  color: var(--color-gray-light);
  height: 12rem;
  background-image: linear-gradient(90deg, var(--color-primary), var(--color-primary-dark));
  transition: all 0.7s cubic-bezier(0.42, 0, 0.15, 1.4);
  z-index: 100; }
  .nav-sticky {
    position: fixed;
    top: 0;
    right: 0;
    height: 8rem;
    background-image: linear-gradient(90deg, var(--color-primary), var(--color-primary-medium-dark)); }
  .nav-container {
    grid-column: 2/9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0rem 8rem; }
  .nav-logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem; }
    .nav-logo:hover {
      cursor: pointer; }
    .nav-logo-strong {
      font-weight: 800;
      margin-right: 0.5rem; }
    .nav-logo-image {
      height: 5rem;
      width: 5rem; }
  .nav-menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .nav-menu-list-item {
      margin-right: 1.9rem;
      text-transform: uppercase;
      font-size: 1.4rem; }
      .nav-menu-list-item:hover {
        color: white;
        cursor: pointer; }
      .nav-menu-list-item-download {
        border: 0.1rem solid white;
        padding: 0.3rem 1.5rem;
        border-radius: 0.5rem;
        font-weight: 800;
        text-transform: uppercase;
        transition: background-color 0.5s ease-in, color 0.2s ease-in; }
        .nav-menu-list-item-download:hover {
          background-color: white;
          border-color: white;
          color: #c9b2c3;
          cursor: pointer; }

.home {
  display: grid;
  grid-template-columns: repeat(8, 1fr); }

.copyright {
  grid-column: 3/7;
  padding: 4rem 0 8rem 0;
  text-align: center;
  font-size: 1.4rem; }
  .copyright-reserved {
    margin-bottom: 2rem; }
  .copyright-appd {
    margin-bottom: 2rem; }
  .copyright-links {
    display: flex;
    justify-content: center; }
    .copyright-links-link {
      color: var(--color-primary);
      text-transform: uppercase;
      padding: 0 2rem 0 0;
      font-weight: 400; }
      .copyright-links-link:hover {
        color: var(--color-primary-dark); }

.main-container {
  background-image: linear-gradient(90deg, var(--color-primary), var(--color-primary-dark));
  height: 100%;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  color: white; }

.header {
  grid-column: 3/7; }
  .header-title {
    font-size: 4rem;
    font-weight: 800;
    text-align: center; }
  .header-subheading {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    text-align: center; }
  .header-download {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-transform: uppercase; }
    .header-download-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      background-color: white;
      padding: 0.5rem 2rem;
      color: var(--color-light-orange);
      font-weight: 1000;
      font-size: 1.4rem;
      transition: all 0.5s; }
      .header-download-badge:hover {
        color: black;
        background-color: var(--color-gray-light); }
      .header-download-badge > img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem; }
  .header-image {
    display: flex;
    justify-content: center;
    width: 100%; }
    .header-image > img {
      width: 30rem;
      height: 100%; }

.video {
  grid-column: 3/7;
  text-align: center;
  padding: 3rem 0; }
  .video-title {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .video-subheading {
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-light-orange); }
  .video-wrap {
    height: 50rem; }
  .video-player {
    width: 100%;
    height: 50rem;
    border: none;
    outline: none;
    z-index: 100; }
    .video-player video {
      width: 100%;
      height: 100%;
      border: 0;
      border: none;
      outline: none;
      object-fit: cover; }

@keyframes fade-in-up {
  0% {
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.features {
  grid-column: 3/11; }
  .features-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #f7f5f7;
    padding: 6rem 0; }
  .features-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem; }
  .features-subheading {
    text-align: center;
    color: var(--color-light-orange);
    font-size: 2.8rem;
    font-weight: 800;
    padding: 1rem; }
  .features-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem; }
    .features-list-item {
      display: grid;
      grid-template-columns: min-content 1fr;
      align-items: flex-start;
      background-color: white;
      padding: 1.5rem 1.3rem 1.5rem 1rem;
      border-left: 0.2rem solid var(--color-light-orange);
      transition: all 0.5s; }
      .features-list-item:hover {
        transform: translateY(-3%); }
      .features-list-item:not(:first-child) {
        margin-left: 2.5rem; }
      .features-list-item-1 {
        height: 4.8rem;
        width: 4.8rem;
        fill: var(--color-light-orange);
        margin-right: 2rem; }
      .features-list-item-2 {
        height: 4.1rem;
        width: 4.1rem;
        fill: var(--color-light-orange);
        margin-right: 2rem; }
      .features-list-item-3 {
        height: 5rem;
        width: 5rem;
        fill: var(--color-light-orange);
        margin-right: 2rem; }
      .features-list-item-icon svg {
        height: 5rem;
        width: 5rem;
        fill: var(--color-light-orange);
        margin-right: 2rem; }
      .features-list-item-icon-drawer svg {
        height: 5rem;
        width: 5rem;
        fill: var(--color-light-orange);
        margin-right: 2rem;
        padding: 0 0 0.3rem 0; }
      .features-list-item-instant {
        justify-content: center;
        text-align: center;
        height: 4rem;
        width: 4rem;
        fill: var(--color-light-orange);
        margin-right: 2rem; }
      .features-list-item-description {
        display: grid;
        grid-template-columns: 1fr; }
        .features-list-item-description-heading {
          color: var(--color-light-orange);
          font-size: 2rem;
          font-weight: 800; }
        .features-list-item-description-text > span {
          display: block;
          color: black;
          font-size: 1.4rem; }

.discover {
  grid-column: 3/8;
  display: grid;
  grid-template-columns: 1fr;
  padding: 4rem 0 0 0; }
  .discover-app {
    display: flex;
    justify-content: space-between; }
    .discover-app-container-right {
      flex: 0 40%;
      display: flex;
      flex-flow: column; }
    .discover-app-item {
      margin-bottom: 1.2rem; }
    .discover-app-title {
      font-size: 3rem;
      color: var(--color-light-orange);
      font-weight: 800; }
    .discover-app-description {
      font-size: 1.6rem; }
    .discover-app-icon {
      width: 5rem;
      height: 6rem;
      fill: var(--color-light-orange);
      box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.4);
      padding: 1rem 0.2rem; }
  .discover-image {
    margin-left: -30rem;
    margin-top: -23rem; }
    .discover-image img {
      width: 100%;
      height: 100%;
      margin-left: -4rem; }

.app {
  grid-column: 3/11;
  margin-bottom: 5rem; }
  .app-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #f7f5f7;
    padding: 8rem 0; }
  .app-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center; }
  .app-subheading {
    color: var(--color-light-orange);
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    padding: 1rem 0 2rem 0; }
  .app-menu {
    display: flex;
    padding: 0 5rem; }
    .app-menu-item {
      color: #ead4cc;
      padding: 1rem 0;
      flex: 1;
      background-color: #f4eeeb;
      font-size: 2rem;
      text-align: center; }
      .app-menu-item:hover {
        cursor: pointer; }
  .app-content {
    display: none; }
    .app-content-container {
      display: flex;
      padding: 2rem 5rem; }
    .app-content img {
      flex: 1;
      width: 32rem;
      height: 50rem;
      padding: 0.5rem 3rem; }
    .app-content-title {
      color: var(--color-light-orange);
      font-size: 3rem;
      font-weight: 800; }
      .app-content-title-2 {
        color: var(--color-light-orange);
        font-size: 2.5rem;
        font-weight: 800; }
    .app-content-subheading {
      color: var(--color-primary); }
    .app-content-description {
      padding: 2rem 0;
      font-size: 2rem; }

.launch {
  grid-column: 2/8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 6rem 0;
  align-items: center;
  justify-content: center; }
  .launch-container {
    grid-column: 3/7;
    text-align: center; }
  .launch img {
    width: 75%;
    height: 100vh;
    margin-top: 4rem;
    padding: 0 2rem;
    text-align: center; }
  .launch-content {
    padding: 0 2rem; }
    .launch-content-icon {
      fill: white;
      stroke: var(--color-light-orange);
      width: 5rem;
      height: 5rem;
      padding: 0.6rem;
      margin-top: 1rem;
      box-shadow: 0.2rem 0.3rem 3rem rgba(0, 0, 0, 0.2); }
    .launch-content-title {
      font-size: 3.5rem;
      color: var(--color-light-orange);
      font-weight: 400; }
    .launch-content-description {
      font-size: 1.4rem; }

.steps {
  grid-column: 2/8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 2rem; }
  .steps-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #f6f4f6; }
  .steps-list {
    display: flex;
    flex-flow: column; }
    .steps-list-container {
      grid-column: 1/3;
      display: flex;
      justify-content: center;
      align-items: center; }
    .steps-list-item {
      display: flex;
      align-items: center;
      height: 12rem; }
      .steps-list-item:hover > .steps-list-item-step {
        background-image: linear-gradient(120deg, var(--color-light-orange), #ebb477 60%);
        color: white; }
      .steps-list-item-step {
        background-color: white;
        width: 32px;
        height: 32px;
        padding: 5rem;
        text-align: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.2);
        color: var(--color-light-orange); }
        .steps-list-item-step-number {
          font-size: 3.5rem;
          color: inherit;
          font-weight: 600; }
      .steps-list-item-content {
        padding: 0 2rem; }
        .steps-list-item-content-heading {
          font-size: 2.5rem;
          color: var(--color-light-orange); }
        .steps-list-item-content-text {
          font-size: 1.4rem; }
  .steps img {
    width: 95%;
    height: 90vh; }
    @media only screen and (max-width: 1200px) {
      .steps img {
        width: 100%;
        height: 80vh; } }

.reviews {
  grid-column: 2/8;
  padding: 0 5rem; }
  .reviews-slider {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: minmax(50rem, 1fr);
    justify-content: center;
    padding: 5rem 0; }
    .reviews-slider-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 3rem; }
      .reviews-slider-arrow svg {
        width: 3rem;
        height: 3rem;
        fill: #bbbbbb;
        cursor: pointer; }
    .reviews-slider-slide {
      grid-column: 2/3;
      text-align: center;
      animation: fade-in-up 2s ease forwards; }
      .reviews-slider-slide-title {
        font-size: 1.4rem;
        text-transform: uppercase; }
      .reviews-slider-slide-subheading {
        font-size: 3.5rem;
        font-weight: 600;
        color: var(--color-light-orange); }
      .reviews-slider-slide-image img {
        background: transparent scroll no-repeat 0 0;
        box-sizing: conten-box;
        background-size: cover;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 3px solid white;
        object-fit: cover; }
      .reviews-slider-slide-text {
        padding: 2rem 0;
        font-size: 1.8rem; }
      .reviews-slider-slide-name {
        color: var(--color-light-orange);
        font-weight: 300;
        font-size: 2.5rem; }
      .reviews-slider-slide-country {
        font-size: 1.5rem;
        font-weight: 400; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.gallery {
  grid-column: 2/8;
  display: grid;
  justify-content: center;
  padding: 3rem 0;
  text-align: center; }
  .gallery-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #f7f5f7; }
  .gallery-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 2rem 0 0 0; }
  .gallery-subheading {
    font-size: 3.5rem;
    color: var(--color-light-orange);
    font-weight: 800; }
  .gallery-slider {
    padding: 5rem 0 1rem 0; }

.swiper-container {
  width: 80rem;
  height: 70rem;
  cursor: pointer; }

.swiper-wrapper {
  cursor: pointer;
  padding: 5rem 0; }

.swiper-slide {
  height: 70% !important; }
  .swiper-slide-active {
    transition: all 1s; }
  .swiper-slide img {
    width: 90%;
    height: 90%; }

.swiper-pagination {
  position: absolute;
  bottom: 5rem !important;
  margin: 0 0 0 0; }
  .swiper-pagination-bullet {
    width: 4rem !important;
    border-radius: 1rem !important;
    opacity: 0.5 !important; }
    .swiper-pagination-bullet-active {
      background-color: var(--color-light-orange) !important;
      opacity: 1 !important; }

.questions {
  grid-column: 3/7;
  padding: 3rem 0;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .questions-title {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .questions-subheading {
    color: var(--color-light-orange);
    font-size: 3rem;
    font-weight: 800; }
  .questions-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 3rem 0; }
    .questions-list-title {
      font-size: 1.8rem;
      color: var(--color-light-orange);
      font-weight: 600; }
    .questions-list-content {
      font-size: 1.4rem; }

.download {
  grid-column: 3/7;
  text-align: center;
  color: white; }
  .download-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-image: linear-gradient(var(--color-primary), var(--color-primary-dark) 80%); }
  .download-icon {
    width: 5rem;
    height: 6rem;
    fill: var(--color-light-orange);
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.4);
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem 0.2rem;
    margin: 8rem 0 3rem 0; }
  .download-title {
    font-size: 3.5rem;
    color: white;
    font-weight: 500; }
  .download-text {
    padding: 3rem 0;
    font-size: 1.4rem; }
  .download-buttons {
    display: flex;
    justify-content: center; }
    .download-buttons-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      background-color: white;
      padding: 0.5rem 2rem;
      color: var(--color-light-orange);
      font-weight: 1000;
      font-size: 1.4rem;
      transition: all 0.5s; }
      .download-buttons-badge:hover {
        color: black;
        background-color: var(--color-gray-light); }
      .download-buttons-badge > img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem; }
  .download-small-text {
    padding: 3rem 0;
    font-size: 1.2rem; }

.contact {
  grid-column: 3/7;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 4rem 0; }
  .contact-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #f7f5f7; }
  .contact-info {
    display: flex; }
    .contact-info-item {
      align-self: end; }
      .contact-info-item-box {
        display: flex;
        align-items: center;
        padding: 0.3rem 0; }
        .contact-info-item-box-icon {
          margin-left: 1rem;
          margin-right: 1rem;
          width: 2rem;
          height: 2rem;
          fill: transparent;
          stroke: #b9b7ba; }
        .contact-info-item-box-text-color {
          font-size: 1.2rem;
          color: var(--color-primary);
          font-weight: 500; }
  .contact-social-media {
    align-self: end;
    display: flex; }
    .contact-social-media-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
      width: 4rem;
      height: 4rem;
      box-shadow: 0.3rem 0.3rem 2rem rgba(0, 0, 0, 0.2); }
      .contact-social-media-icon svg {
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary); }
        .contact-social-media-icon svg:hover {
          fill: var(--color-primary-dark);
          cursor: pointer; }

.privacy {
  grid-column: 2/7;
  padding: 5rem 0; }
  .privacy-heading {
    font-size: 5rem;
    color: var(--color-light-orange); }
  .privacy-date {
    color: var(--color-primary);
    font-size: 1.4rem; }
  .privacy-subheading {
    padding: 2rem 0;
    font-size: 1.6rem; }
  .privacy-content {
    font-size: 1.4rem; }
    .privacy-content p {
      margin-top: 1rem; }

.terms {
  grid-column: 2/7;
  padding: 5rem 0; }
  .terms-heading {
    font-size: 5rem;
    color: var(--color-light-orange); }
  .terms-date {
    color: var(--color-primary);
    font-size: 1.4rem; }
  .terms-subheading {
    padding: 2rem 0;
    font-size: 1.6rem; }
  .terms-content {
    font-size: 1.4rem; }
    .terms-content p {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .terms-content ol li {
      margin-left: 2rem;
      padding: 1rem 0; }

.analyzer {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] 1fr [full-end];
  font-weight: 300;
  color: black; }
  .analyzer-container {
    grid-column: center-start / center-end; }
  .analyzer-heading {
    text-align: center;
    font-size: 3rem;
    padding: 2rem; }
  .analyzer-marketplace {
    grid-column: center-start / center-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .analyzer-marketplace-market {
      width: 12rem;
      height: 12rem;
      box-sizing: content-box;
      background-size: cover;
      object-fit: fill;
      border-radius: 50%;
      border: 0.1rem solid transparent;
      transition: all 0.3s;
      animation-name: slide;
      animation-duration: 1.5s; }
      .analyzer-marketplace-market:hover {
        cursor: pointer;
        border-radius: 50%;
        border: 0.1rem solid var(--color-light-orange); }
  .analyzer-categories {
    grid-column: center-start / center-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem 0; }
    .analyzer-categories-category {
      width: 10rem;
      height: 10rem;
      box-sizing: content-box;
      background-size: cover;
      object-fit: fill;
      border-radius: 50%;
      border: 0.1rem solid transparent;
      transition: all 0.3s; }
      .analyzer-categories-category:hover {
        cursor: pointer;
        border-radius: 50%;
        border: 0.1rem solid var(--color-light-orange); }

.active {
  border-bottom: 0.2rem solid white;
  color: white;
  font-weight: 800; }

.active-2 {
  border-top: 0.3rem solid var(--color-light-orange);
  background-color: white;
  color: var(--color-light-orange); }

.sticky {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 30rem;
  height: 23rem;
  transform: translateY(100%);
  animation: fade-in-up 0.25s ease forwards; }
  .sticky-video {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .sticky:hover > svg {
    fill: #72aaa6;
    cursor: pointer;
    z-index: 100; }
  .sticky-icon-show {
    position: absolute;
    bottom: 19rem;
    right: 0.4rem;
    fill: transparent;
    border-radius: 1rem;
    width: 3rem;
    height: 3rem;
    transform: translateY(100%);
    animation: fade-in-up 0.25s ease forwards;
    transition: all 0.5s; }
  .sticky-icon-hide {
    display: none; }
  .sticky-overlay-show {
    position: absolute;
    width: 30rem;
    height: 23rem;
    transform: translateY(100%);
    animation: fade-in-up 0.25s ease forwards; }
    .sticky-overlay-show:hover {
      background-color: rgba(226, 226, 226, 0.4); }

.show {
  display: block;
  animation: fadeIn ease 2s; }

.slide-hide {
  display: none; }

.active-slider {
  transform: scale(1);
  transition: all 1s; }

.next {
  transition: all 1s;
  transform: translateY(-10%);
  transform: scale(1.2); }
  .next-prev {
    transition: all 1.4s;
    transform: scale(1); }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

:root {
  --color-primary: #72bab4;
  --color-primary-medium-dark: #4b9a97;
  --color-primary-dark: #4f8080;
  --color-gray-light: #e2e2e2;
  --color-gray-dark: #c0bdbd;
  --color-light-orange: #dd8364; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 1.6; }
